@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #0062FF;
    --color-accent: #1ADC6A;
    --color-dominant: #111827;
    --color-text-primary: #111827;
    --color-text-secondary: #4B5563;
    --color-background-primary: #F7F8FA;
    --color-background-card: #FFFFFF;
    --color-border: #E3E5EA;
    --color-disabled: #9CA3AF;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

}
